<!DOCTYPE html>
<html>
<head>
  <title>{{collection_name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script>
    function toggleAccordion(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
</head>
<body>
  <div class="w3-container w3-teal">
    <button id="accordion-button" class="w3-button w3-block w3-left-align" onclick="toggleAccordion('accordion-description')">Description</button>
    <div id="accordion-description" class="w3-container w3-hide">
      {{collection_description}}
    </div>
  </div>
  
  
  <div class="w3-container">
    <br>
    <table class="w3-table-all">
      <thead>
        <tr>
          <th>Method</th>
          <th>Endpoint</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>{% for item in items %}
        <tr>
          <td style="vertical-align: middle;">{{item.request.method}}</td>
          <td>
            <p>URL:<br>{{item.request.url.raw}}</p>
            {% if item.request.body is defined %}
              {% if item.request.body.raw != '' %}
                <p>Body:<br>{{item.request.body.raw}}</p>
              {% endif %}
            {% endif %}
            </td>
            <td style="vertical-align: middle;">{{item.request.description}}</td>
          </tr>
        {% endfor %}    
      </tbody>
    </table>
  </div>
</body>
</html>
